.place__title {
  font-family: "Inter", Courier, monospace, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;

  margin: 0 0 48px 0;
  grid-column: 1;
  grid-row: 1;
  max-width: 460px;
  width: 100%;
  align-self: end;

  justify-self: start;
}
@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}
@media screen and (max-width: 866px) {
  .place__title {
    font-size: 2.625rem;
    line-height: 110%;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
  }
}
@media screen and (max-width: 668px) {
  .place__title {
    max-width: 150px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 0 16px 32px;
    max-width: 288px;

    font-size: 2rem;

    line-height: 109%;
  }
}
