.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
  margin: 92px 7.5% 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 14px;
    margin: 92px 7.5% 0;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin: 88px 7.5% 0;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 64px 7.5% 0;
  }
}
