.lead__image {
  grid-column: 1;
  grid-row: 3;
  margin: 0 148px;
  width: 984px;
}
@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 0 48px;
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    margin: 0;
    width: 100%;
  }
}
