.intro__text {
  font-family: "Inter", Courier, monospace, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  margin: 40px 0 0 148px;
  max-width: 690px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .intro__text {
    margin: 40px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin: 40px 0 0 24px;
    width: 90%;
  }
}
@media screen and (max-width: 568px) {
  .intro__text {
    margin: 40px 0 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .intro__text {
    margin: 40px 16px 0;
  }
}
