.place__img {
  margin-left: 0;
  grid-column: 1;
  margin-right: 0px;
  grid-row: 2;
  width: 460px;
  justify-items: right;

  justify-self: start;
}
@media screen and (max-width: 1024px) {
  .place__img {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__img {
    width: 340px;
  }
}
@media screen and (max-width: 668px) {
  .place__img {
    width: 240px;
  }
}
@media screen and (max-width: 555px) {
  .place__img {
    width: 200px;
  }
}
@media screen and (max-width: 449px) {
  .place__img {
    width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .place__img {
    grid-row: 3;

    width: 320px;
  }
}
