.container {
  width: 984px;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90.7%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 99%;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 99%;
  }
}
