.intro__title {
  font-family: "Inter", Courier, monospace, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 107%;
  margin: 92px 0 0 148px;
  max-width: 690px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .intro__title {
    margin: 92px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin: 88px 0 0 24px;
    width: 90%;
  }
}
@media screen and (max-width: 451px) {
  .intro__title {
    font-size: 2.3rem;
    line-height: 109%;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    margin: 64px 16px 0;
    max-width: 288px;
    font-size: 2rem;
  }
}
